main{
padding-left: 10px;
padding-right: 10px;
background-color: #bfebf3;
}


.div1 {
    background-color: black; /* Couleur de la barre */
    color: #fff; /* Couleur du texte dans la barre */
    padding: 10px; /* Marge intérieure pour l'espace autour du contenu */
    width: 100%; /* Prend toute la largeur de l'écran */
    box-sizing: border-box; /* Inclut la bordure et le rembourrage dans la largeur totale */
    position: relative; /* Position relative pour positionner div2 et div3 par rapport à div1 */
}

.div2 {
    float: left; /* Pour aligner à gauche */
}

.div3 
{
    text-align: center; /* Pour centrer le contenu horizontalement */
}

.div3 img {
    display: block; /* Pour centrer l'image */
    margin: 0 auto; /* Pour centrer l'image horizontalement */
}