body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #333333); /* Fond noir dégradé gris */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #FFFF00; /* Texte jaune */
}

.newsletter-container {
    max-width: 400px;
    width: 100%;
    background-color: #000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #FFFF00; /* Texte jaune */
}

.newsletter-form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #FFFF00; /* Texte jaune */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #FFFF00; /* Bordure jaune */
    border-radius: 4px;
    background-color: #000;
    color: #FFFF00; /* Texte jaune */
}

.checkboxes {
    text-align: left;
    margin-bottom: 15px;
}

.checkboxes label {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligner les cases à cocher à gauche du texte */
    color: #FFFF00; /* Texte jaune */
}

.checkboxes input {
    margin-right: 10px;
    width: 20px; /* Largeur des cases à cocher */
    height: 20px; /* Hauteur des cases à cocher */
}

button {
    background-color: #9d9d87; /* Fond jaune */
    color: #000; /* Texte noir */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FFD700; /* Fond jaune clair au survol */
}

.small-text {
    font-size: 12px;
    color: white; /* Texte jaune */
}

a {
    color: grey; /* Lien jaune */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
