
#searchbar
{
    /* margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    padding:15px;
    border-radius: 50px; */ 
    margin-left: 5%;
    margin-right: 5%; 
    margin-top: 3%;
    padding: 10px; /* Réduire la hauteur du padding */
    border: none; /* Supprimer la bordure */
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    /*background-image: url('images/loupe.webp');*/
    background-size: 20px;
    background-position: 10px center;
    /*background-repeat: no-repeat;*/
    padding-left: 40px;
    width: 90%; /* Ajuster la largeur de l'input */
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
    font-size: 12px; /* Réduire la taille du texte */
    height: 35px; /* Ajuster la hauteur de l'input */
    
}

#activité_body
{
    border: solid;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}

/* ===============pour la pop up DEBUT=========================== */


#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couche semi-transparente */
    z-index: 999; /* Juste en dessous de la boîte de dialogue */
    pointer-events: none; /* Permet aux événements de passer à travers */
}

#popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* ===============pour la pop up FIN=========================== */



body {
    margin: 0;
    padding: 0;
    /*background-image: url('images/background.png');*/
    background-image: linear-gradient(to right, rgb(181, 221, 240), rgb(245, 245, 252));
    background-size: cover; /* L'image de fond couvre tout l'élément */
    /*background-repeat: no-repeat; */
    /*background-position: center center;*/
    /*height: 160vh;*/
}

.div1 {
    background-color: black; /* Couleur de la barre */
    color: #fff; /* Couleur du texte dans la barre */
    padding: 10px; /* Marge intérieure pour l'espace autour du contenu */
    width: 100%; /* Prend toute la largeur de l'écran */
    box-sizing: border-box; /* Inclut la bordure et le rembourrage dans la largeur totale */
    position: relative; /* Position relative pour positionner div2 et div3 par rapport à div1 */
}

.div2 {
    float: left; /* Pour aligner à gauche */
}

.div3 
{
    text-align: center; /* Pour centrer le contenu horizontalement */
}

.div3 img {
    display: block; /* Pour centrer l'image */
    margin: 0 auto; /* Pour centrer l'image horizontalement */
}


#image-titre
{
   text-align: center;
   border: outset red;
   width: auto;
}

#but_header
{
    text-align: left;
    border: outset green;
    
}

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
    background-color: rgb(55, 53, 53);
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }

  .sidebar-button 
  {
    /* display: block; */
    position: absolute;
    width: auto;
    right: 5px;
    top: 10px;
    padding: 5px; 
    text-decoration: none;
    color: yellow; /* Jaune */
    background-color: rgb(31, 30, 30); /* Bleu (optionnel) */
    /* border-radius: 8px; */
    border-radius: 5px;
  }
  
  .sidebar-button:hover {
    background-color: #357ebd; /* Bleu foncé (optionnel) */
  }

  #eventBody{
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
  }
  /*-------------- Partie page accueil -------------------- */
  /*
  .navbar{
    margin-bottom: 20px;
  }*/

  .carte, .carte:hover{
    text-decoration: none;
    color: black;
  }

  .horaires{
    text-align: right;
  }

  #listeBonsPlans {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .card{
    margin: 20px;
  }

  #lst_but
  {
    /* background-color:red; */
    text-align: center; 
  }

  .detailBonPlanContainer{
    display: flex;
    flex-direction: column;
     align-items: center;
  }



.but_admin_lst {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #363c79, #2196f3);
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 90%;
  max-width: 400px; /* Ajustez selon vos besoins */
  margin: 0 auto;
  border: none;
}

/* Au survol du bouton */
.but_admin_lst:hover {
  background: linear-gradient(to bottom, #363c79, #1565c0);
}

#title_up
{
  text-align: center; 
  font-weight: bold;
  font-size: 23px;
}

#barre_noire_fine_expand
{  
  height: 3px;
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0; 
  
}



#item_user {
  background-color: white;
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
}

#info_utilisateur {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

#numero_telephone {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-top: 5%;
}

#actions {
  display: inline-block;
  vertical-align: top;
}


.but_user {
  /* margin-bottom: 10px; */
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #363c79, #2196f3);
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  /* width: 90%; */
  max-width: 400px; /* Ajustez selon vos besoins */
  margin: 0 auto;
  border: none;
}

.but_user:hover {
  background: linear-gradient(to bottom, #9497b8, #1565c0);
}

#barre_de_recherche_utilisateur
{
  position: relative;
  text-align: center;
  /* left: 40%; */
}


.center
{
  text-align: center;
  position: absolute;
  /* left: 35%; */
}




#les_info_user_container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  margin: 0;
}

#table_info_user {
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
  margin: auto; 
  background-color: white;
}

.td_info_user
{
  padding: 15px;
  text-align: center;
}

.th_info_user {
  background-color: #ffffff;
}

.tr_info_user:nth-child(even) {
  background-color: #e0e0e0;
}


.input_info_user
{
  text-align: center;
}

.center_but {
  display: block;
  margin: auto;
}

.but_retour_barre_recherche
{
  height: 30%;
  width: 30%;
}

#barre_de_recherche_bonplan
{
  position: fixed;
  z-index: 1;
}

