/* Conteneur principal pour la partie "Informations Utilisateur" */
.info-utilisateur-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ajustez cela selon vos besoins */
}

/* Styles pour les labels de la partie "Informations Utilisateur" */
.info-utilisateur label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

/* Styles pour les champs de saisie et le menu déroulant de la partie "Informations Utilisateur" */
.info-utilisateur input,
.info-utilisateur select {
    width: 200px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
