/* Conteneur principal pour la partie "Informations Utilisateur" */
.info-utilisateur-container {
    display: flex;
    flex-direction: column;


}

/* Styles pour les labels de la partie "Informations Utilisateur" */
.label-utilisateur {
    display: inline-block;
    width: 150px;
    text-align: left;
    margin-right: 10px;
}

/* Styles pour les champs de saisie et le menu déroulant de la partie "Informations Utilisateur" */
.info-utilisateur {
    width: 200px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
/* Styles pour le champs de sélection pour la partie transport utilisateur de la partie "Informations Utilisateur" */
.info-utilisateur-select{
    width: 100px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
